body {
  margin: 0;
  padding: 0;
  height: 410px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

header {
  padding: 20px;
}


.dark-theme {
  background-color: #333333;
  color: whitesmoke;
}

.light-theme {
  background-color: whitesmoke;
  color: #333333;
}