.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

img {
width: 400px;
height: 400px;
}
body {
  background-color: #D02813;
}
h1 {
  background-color: #D08613;
  
}
h3 {
  background-color: #BBD013;
}
input {
  margin: 5px;
}